nav img {
    width: 40px;
    height: auto;
}

table img{
    width: 50px;
    height: auto;
}

div.container-fluid>section.row>img {
    width: 500px;
    height: auto;
}

/* .container-sm .row .card {
    width: 100px;
    height: 100px;
} */

article div img,
section.col header img,
div.container section.row img,
div.container-fluid section div div div.card div.card-body span img {
    width: 20px;
    height: auto;
}

@media (min-width: 544px) {
    div.container-fluid section div div div.card div.card-body p {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    div.container-fluid section div div div.card div.card-body p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    div.container-fluid section div div div.card div.card-body p {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    div.container-fluid section div div div.card div.card-body p {
        font-size: 2rem;
    }
}

/* buttons to update user info */
/* Nascondi i bottoni "Save" e "Cancel" inizialmente */
form div button:nth-of-type(2),
form div button:nth-of-type(3) {
    display: none;
}

div section form div:nth-child(8) {
    display: none;
}

main>div>form {
    max-width: 330px;
}

h1,
h2,
h3 {
    font-family: 'Cinzel', 'Times New Roman', serif;
    font-weight: bold;
}



section.col p>strong {
    font-size: xx-large;
    color: rgb(95, 110, 102);
}

a.bg-light-purple.border-0.text-purple:hover,
button.bg-light-purple.border-0.text-purple:hover,
input.bg-light-purple.border-0.text-purple:hover{
    background-color: rgb(155, 109, 198) !important;
    color: white !important;
}

/* Custom Bootstrap-derived styles */
@media (min-width: 1400px) {
    .row-cols-xxl-7>* {
        flex: 0 0 auto;
        width: 14.28571429%;
    }
}

.bg-purple {
    background-color: rgba(155, 109, 198, 1) !important;
}

.bg-platinum{
    background-color: rgba(234, 234, 234, 1) !important;
}

.bg-light-purple {
    background-color: rgba(203, 195, 227, 1) !important;
}

.bg-light-green {
    background-color: rgba(109, 198, 155, 1) !important;
}

.text-purple {
    color: rgb(105, 0, 168) !important;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
}

.card-text {
    font-size: large;
    font-weight: 500;
}
