nav img {
    width: 40px;
    height: auto;
}

div.container.my-5.text-center.mb-4 img {
    width: 500px;
    height: auto;
}

/* .container-sm .row .card {
    width: 100px;
    height: 100px;
} */

article div img, section.col header img, div.container section.row img{
    width: 20px;
    height: auto;
}

/* buttons to update user info */
/* Nascondi i bottoni "Save" e "Cancel" inizialmente */
form div button:nth-of-type(2),
form div button:nth-of-type(3) {
    display: none;
}

div section form div:nth-child(8) {
    display: none;
}

/* Bootstrap-derived new layout */
@media (min-width: 1400px) {
    .row-cols-xxl-7>* {
        flex: 0 0 auto;
        width: 14.28571429%;
    }
}

main>div>form {
    max-width: 330px;
}